<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Pegawai</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
		<object th:include="fragments/fragment :: basic" th:remove="tag"></object>
	
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<br>
		<div align="center">
			<h1>Ubah Pegawai</h1>
		</div>
		<hr>
		<br>
		<div class="col-sm"></div>
		<div class="col-sm">
			<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
				<input type="hidden" th:value="${pegawai.nip}"></input>
				<div class="form-group row">
					<label for="nama" class="col-sm-3 col-form-label-md">Nama</label>
					<div class="col-sm-9">
						<input required th:value="${pegawai.nama}" type="text" name="nama" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="tempatLahir" class="col-sm-3 col-form-label-md">Tempat Lahir</label>
					<div class="col-sm-9">
						<input required th:value="${pegawai.tempatLahir}" type="text" name="tempatLahir" class="form-control"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="tanggalLahir" class="col-sm-3 col-form-label-md">Tanggal Lahir</label>
					<div class="col-sm-9">
						<input required th:value="${pegawai.tanggalLahir}" type="date" name="tanggalLahir" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="tahunMasuk" class="col-sm-3 col-form-label-md">Tahun Masuk</label>
					<div class="col-sm-9">
						<input required th:value="${pegawai.tahunMasuk}" type="number" name="tahunMasuk" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="provinsi" class="col-sm-3 col-form-label-md">Provinsi</label>
					<div class="col-sm-9">
						<select required name="provinsi" id="provinsi" class="form-control">
							<option
			                    th:each="provinsi,iterationStatus: ${provinces}"
			                    th:text="${provinsi.nama}" th:value="${provinsi.id}"
			                    th:selected="${provinsi.id == pegawai.instansi.provinsi.id}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="instansi" class="col-sm-3 col-form-label-md">Nama Instansi</label>
					<div class="col-sm-9">

						<select required name="instansi" id="instansi" class="form-control">
							<option  th:each="instansi, iterationStatus:${instansiIns}"
								th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}" th:value="${instansi.id}"
								th:selected="${instansi.id == pegawai.instansi.id}">Pilih Instansi</option>
						</select>
						
					</div>
				</div>
				<div class="form-group row">
					<label for="jabatan" class="col-sm-3 col-form-label-md">Jabatan</label>
					<div class="col-sm-9">
						<div th:each="jabatans,iterationStatus : *{listJabatan}">
							<select required id="jabatan" th:field="*{listJabatan[__${iterationStatus.index}__]}" class="form-control">
								<option
				                   th:each="jabatan,iterationStat: ${positions}"
				                   th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
							</select>
							<br>
						</div>
						<button class="btn btn-danger" formnovalidate type="submit" name="addMoreJabatanUpdate">Tambah jabatan</button>
					</div>
				</div>
				<div class="text-right">
					<button id="submit" name="submit" type="submit" class="btn btn-success">Simpan</button>
				</div>
			</form>	
		</div>
		<div class="col-sm"></div>
		
	</body>
	
</html>